name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-release:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Install Linux dependencies
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y libgl1-mesa-dev xorg-dev

      - name: Run tests
        if: runner.os == 'Linux' # Run tests on only one platform
        run: go test ./pkg/calculator/...

      - name: Build binaries (Linux/macOS)
        if: runner.os != 'Windows'
        run: |
          mkdir -p build
          go build -o build/calc-${{ runner.os }} ./cmd/calc
          go build -o build/gcalc-${{ runner.os }} ./cmd/gcalc
        shell: bash

      - name: Build binaries (Windows)
        if: runner.os == 'Windows'
        run: |
          mkdir -p build
          go build -o build/calc-${{ runner.os }}.exe ./cmd/calc
          go build -o build/gcalc-${{ runner.os }}.exe ./cmd/gcalc
        shell: bash

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            build/calc-${{ runner.os }}*
            build/gcalc-${{ runner.os }}*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
